table{
    border: 1px solid gray;
    border-collapse: collapse;
    width: 40%;
}
table.challenge-table th, table.challenge-table td{
    border: 1px solid lightgray;
    padding: 3px;
}
table.challenge-table tr:nth-child(odd){
    background-color: rgb(235, 233, 233);
}
table.challenge-table td span{
    color: red;
}
table.challenge-table td:nth-child(even){
    text-align: center;
}
